#thankyou_goodbye.inactiveStage

  #final 
    p Thank you again for your help!

    #explainSurvey2.exitUnenhanced
      p <b>What are we studying?</b> Our goal is to evaluate impact on speed, accuracy, and frustration when people see computer-generated suggestions to help them process a message (highlights and category ratings, which may or may not be correct).
      table
        tr
          td <i><b>WITHOUT computer suggestions:</b></i>
          td <i><b>WITH computer suggestions:</b></i>
        tr
          td 
            img(src="img/explain-unenhanced.png", width="350")
          td
            img(src="img/explain-suggestions.png", width="350")
      
      
      hr

    //- FIXME: add for external version
    //- p Please share this study with your friends: <a href="http://ushahidi.dssg.io">http://ushahidi.dssg.io</a>

    p We look forward to sharing the results of our study. You can read more about our work so far at:
    
    p <a href="http://dssg.io/2013/07/15/ushahidi-machine-learning-for-human-rights.html">http://dssg.io/2013/07/15/ushahidi-machine-learning-for-human-rights.html</a>
    
    p Thank you!<br>The Data Science for Social Good team<br>dssg-ushahidi@googlegroups.com
